.simple-tabs-block {
  border:none !important;
}

.simple-tabs-block .ui-tabs-nav h2,
.simple-tabs-block .ui-tabs-nav h3,
.simple-tabs-block .ui-tabs-hide {
  display: none;
}
  
.simple-tabs-block .ui-tabs-nav {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  width:100%;
}

.simple-tabs-block .ui-tabs-nav li:before {
  display:none !important;
}
  
.simple-tabs-block .ui-tabs-nav li {
  float: left;
  margin: 0;
  padding: 0;
  height: 43px;
  line-height: 43px;
  border-left: none;
  margin-bottom: -1px;
  overflow: hidden;
  position: relative;
  border-right: 1px solid #fff;
}
  
.simple-tabs-block .ui-tabs-nav li a,
.simple-tabs-block .ui-tabs-nav li a:link {
  text-decoration: none;
  color: #777 !important;
  display: block;
  outline: none;
  cursor:pointer;
  background: #f2f2f2 !important;
  text-align: center;
  text-transform: uppercase;
  padding:0 10px;
}

.simple-tabs-block .ui-tabs-nav li.ui-tabs-active a {
  background-color:#FFFFFF !important;
  border-left:1px solid #ebebeb;
  border-top:1px solid #ebebeb;
  border-right:1px solid #ebebeb;
}

.simple-tabs-block .ui-tabs-nav li a, .simple-tabs-block.simple-tabs-block-collapsible .simple-tabs-block-nav li.simple-tabs-block-selected a {
  cursor: pointer;
}

.simple-tabs-block .ui-tabs-hide {
  display: none !important;
}

.simple-tabs-block .ui-tabs-panel {
  overflow: hidden;
  clear: both;
  float: left; 
  background: #fff;
  padding: 15px;
  border:1px solid #ebebeb;
  width:100%;
}